{% extends 'base.html' %}

{% block title %}
Profile
{% endblock %}

{% block content %}
<center>
    <h3>
        {{profile.user}}Profiles
    </h3>
</center>
<center>
    <div class="image"> <img src="{{profile.image.url}}" class="rounded" width="155"> </div>
    <hr>
    <div class="ml-3 w-100">
        <span>
            <h4>Name :</h4>{{profile.name}}
        </span>
        <span>
            <p>
            <h4>Status :</h4>{{profile.user.status}}</p>

        </span>


        <p>
        <h5>Bio :</h5> {{profile.bio}}</p>
        {% if profile.user == request.user %}
        <a href="{% url 'profiles:delete' username=user.username %}" class="btn btn-secondary"
            style="background-color: #f44336; color: white;">Delete Account
        </a>
        {% endif %}

        <br>
        <br>
        {% if profile.user == request.user %}
        {% if profile.status == "active" %}

        <a href="{% url 'profiles:deactive' %}" class="btn btn-secondary"
            style="background-color: #f44336; color: white;">Deactive Account
        </a>
        {% endif %}
        {% endif %}
</center>
</div>
</div>
{% endblock %}
<!-- <div class="add-comment">
    <br>
    <h3>
        Your Profile
    </h3>
    <hr>
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <br>

    </form>
</div> -->