{% extends 'base.html' %}

{% block content %}

<div class="articles-details">
    <div class="article">
        <center>
            <h2>{{article.title}}</h2>

            <img src="{{article.image.url}}" alt="" width="350" height="300">
        </center>
        <h3>Author = {{article.author}}</h3>

        <form action="{% url 'articles:like' article.id %}" method="POST" class="ui form">
            <input type="hidden" name="post_id" value=" {{article.id}}">
            {% csrf_token %}
            {% if user not in article.likes.all %}
            <button class="ui button positive" type="submit"
                style=" background-color: #4CAF50; color: white; ">Like</button>
            <!-- <h4> <a href="{% url 'articles:unlike' article.id %}"> unlike</a></h4> -->
            {% else %}
            <button class="ui button nagative" type="submit"
                style="background-color: #f44336; color: white;">UnLike</button>
            <!-- <a href="{% url 'articles:like' article.id %}"> like</a></h4> -->
            {% endif %}
        </form>
        <strong>{{ article.likes.all.count}}likes</strong>
        <p>{{article.body}}</p>
        <p>{{article.date}}</p>
    </div>
</div>

{% endblock %}